.heading {
  align-self: stretch;
  position: relative;
  font-weight: 600;
  margin: 0 0 60px 0;
}
.heading-text-container6 {
  align-self: stretch;
  position: relative;
  font-weight: 600;
}
.timelinesection-text-container {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 300px;
}
.progress-line-background {
  position: absolute;
  margin: 0 !important;
  height: 100%;
  top: 0px;
  bottom: 0px;
  left: calc(50% - 1px);
  background-color: var(--purple-90);
  width: 2px;
  z-index: 0;
}
.progress-line {
  position: relative;
  background-color: var(--other-colors-purple);
  width: 2px;
  height: 412px;
  z-index: 1;
}
.progress-line-container {
  margin: 0 !important;
  position: absolute;
  height: 100%;
  top: 0px;
  bottom: 0px;
  left: calc(50% - 30px);
  width: 60px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0px 30px;
  box-sizing: border-box;
  gap: 10px;
  z-index: 0;
}
.text {
  align-self: stretch;
  position: relative;
  line-height: 150%;
  font-weight: 500;
}
.text-container {
  border-radius: var(--br-5xs);
  background-color: var(--peach-96);
  width: 112px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs) var(--padding-xl);
  box-sizing: border-box;
}
.paragraph {
  flex: 1;
  position: relative;
  line-height: 150%;
}
.group-child {
  top: 2.01%;
  right: 14.39%;
  bottom: 61.04%;
  left: 23.45%;
  border-radius: var(--br-11xs);
  overflow: hidden;
  max-height: 100%;
}
.group-item {
  position: absolute;
  height: 59.44%;
  width: 35.14%;
  top: 40.56%;
  right: 32.43%;
  bottom: 0%;
  left: 32.43%;
  background: linear-gradient(180deg, #fff, rgba(255, 255, 255, 0) 81.51%);
}
.group-inner {
  position: absolute;
  height: 59.44%;
  width: 100%;
  top: 40.56%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  border-radius: var(--br-9xs);
  background-color: var(--color-gray);
  backdrop-filter: blur(12px);
}
.star-parent {
  position: absolute;
  height: 98.81%;
  width: 58.73%;
  top: 1.19%;
  right: 21.03%;
  bottom: 0%;
  left: 20.24%;
}
.icon {
  position: relative;
  width: 84px;
  height: 84px;
  overflow: hidden;
  flex-shrink: 0;
}
.icon-container {
  border-radius: var(--br-xs);
  background-color: var(--other-colors-purple);
  box-shadow: 0px 0px 14px 4px rgba(255, 255, 255, 0.5) inset;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm);
}
.sub-container2 {
  flex: 1;
  border-radius: var(--br-xs);
  background-color: var(--peach-96);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-31xl);
  gap: var(--gap-11xl);
}
.tip-icon {
  position: relative;
  width: 12px;
  height: 23px;
}
.container1 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.navigator-child {
  position: relative;
  border-radius: var(--br-81xl);
  background-color: var(--other-colors-purple);
  width: 14px;
  height: 14px;
}
.navigator {
  border-radius: var(--br-81xl);
  background-color: var(--absolute-white);
  border: 7px solid var(--peach-96);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.date {
  position: relative;
  line-height: 146%;
  font-weight: 600;
}
.date-wrapper {
  border-radius: var(--br-5xs);
  background-color: var(--peach-96);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-5xl);
}
.text-container1 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-73xl) 0px;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--grey-30);
}
.sub-container1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-31xl);
  text-align: right;
  font-size: var(--font-size-lg);
}
.container {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-21xl);
  z-index: 1;
}
.date-container {
  border-radius: var(--br-5xs);
  background-color: var(--peach-96);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: var(--padding-xs) var(--padding-5xl);
}
.text-container2 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: var(--padding-73xl) 0px;
}
.navigator-item {
  position: relative;
  border-radius: var(--br-81xl);
  background-color: var(--other-colors-orange);
  width: 14px;
  height: 14px;
}
.icon-container1 {
  border-radius: var(--br-xs);
  background-color: var(--other-colors-orange);
  box-shadow: 0px 0px 14px 4px rgba(255, 255, 255, 0.5) inset;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm);
}
.fullstack {
  margin: 0;
}
.paragraph1 {
  flex: 1;
  position: relative;
}
.sub-container4 {
  flex: 1;
  border-radius: var(--br-xs);
  background-color: var(--peach-96);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-31xl);
  gap: var(--gap-11xl);
}
.container3 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: var(--font-size-lg);
  color: var(--grey-20);
}
.sub-container3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-31xl);
}
.container2 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  z-index: 2;
  text-align: left;
  color: var(--grey-30);
}
.icon-container2 {
  border-radius: var(--br-xs);
  background-color: var(--other-colors-pink);
  box-shadow: 0px 0px 14px 4px rgba(255, 255, 255, 0.5) inset;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm);
}
.navigator-inner {
  position: relative;
  border-radius: var(--br-81xl);
  background-color: var(--other-colors-pink);
  width: 14px;
  height: 14px;
}
.container4 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-21xl);
  z-index: 3;
}
.sub-container {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-81xl);
}
.tip-icon3 {
  position: relative;
  width: 23px;
  height: 12px;
}
.icon-container3 {
  border-radius: var(--br-xs);
  background-color: var(--other-colors-blue);
  box-shadow: 0px 0px 14px 4px rgba(255, 255, 255, 0.5) inset;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm);
}
.paragraph3 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-lg);
}
.text-container6 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
}
.sub-container8 {
  align-self: stretch;
  border-radius: var(--br-xs);
  background-color: var(--peach-96);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-31xl);
  gap: var(--gap-11xl);
}
.sub-container7 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 225px;
  text-align: left;
  font-size: 22px;
}
.timelinesection-container {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-21xl);
  font-size: var(--font-size-xl);
}
.timelinesection1 {
  width: 1198px;
  /* height: 3253px; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-81xl);
}
.timelinesection {
  position: relative;
  width: 100%;
  /* height: 3259px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 48px;
  color: var(--grey-20);
  font-family: var(--font-manrope);
  margin: 100px 0;
}

@media (max-width: 1200px) {
  .timelinesection {
    display: none;
  }
}
